<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LabelInputFolder" value="D:\Barcode Label Software\Data\Spool File Input\"/>
    <add key="LabelTempFolder" value="D:\Barcode Label Software\Data\Spool File Temp Work Folder\"/>
    <add key="LabelTemplateFolder" value="D:\Barcode Label Software\Data\Label Templates\"/>
    <add key="LabelTempTemplateFolder" value="D:\Barcode Label Software\Data\Output Temp Work Folder\"/>
    <add key="LabelOutputFolder" value="D:\Barcode Label Software\Data\Final PDF Output(Printer Input)\"/>
    <add key="LabelPrinterTempFolder" value="D:\Barcode Label Software\Data\Printer Temp Folder\"/>
    <add key="LabelArchiveFolder" value="D:\Barcode Label Software\Data\Spool File Archive\"/>
    <add key="LabelLogFolder" value="D:\Barcode Label Software\Data\Logs\"/>
    <add key="FoxitReaderLocation" value="C:\Program Files (x86)\Foxit Software\Foxit Reader\FoxitReader.exe"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.34" newVersion="17.3460.0.34"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.OfficeChart.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.4460.0.54" newVersion="16.4460.0.54"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.34" newVersion="17.3460.0.34"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.34" newVersion="17.3460.0.34"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
